<div class="row">
  
  <h1 class="header-12-12">About</h1>
  <div class="col-xs-11 col-center-all col-md-6 col-md-offset-3">
    <p class = 'p-12-6'>Lee Roberts is a classically trained painter who's love of code has supplanted the love of the brush.
    He is a driven perfectionist who loves concise code.
    He is a Ruby on Rails developer with strong Javascript interactivity experience. 
    In his spare time he enjoys spending time with his lovely wife Ally, boring her with thoughts on programming.</p>
  </div>
  
</div>