
<div class="row">
  <%= render 'shared/title', locals: { head: @head = 'CO', tail: @tail = 'NTACT' } %>
  <div class="col-xs-11 col-md-6 col-center">
    <p class='p-12-6 text-center'>email me @ leejamesroberts@gmail.com</p>
  </div>
   
</div>