<div class="col-xs-12 col-md-8 col-md-offset-2" >
  <%= image_tag 'shallow-right-chevron', class: 'chevron left-chevron' %>
  <h1 class="projects-header_index" id='header-name'>PR<span id="hidden-tail">OJECTS</span></h1>
  <%= image_tag 'shallow-right-chevron', class: 'chevron right-chevron' %>
</div>