
<!--projects/index-->

<div class="row">
    <%= render 'shared/title', locals: { location: @location = 'PR' } %>  
</div>
<div class="row">
  <%= render partial: 'project', collection: @projects, as: :project %>
</div>




