
// basic reusable components


// Lists ========================

// inline-list with no decoration
.inline-list {
  display: inline-block;
  list-style: none;
  li {
    display: inline-block;
  }
}

// used for demo brand until i make an SVG
#hexagon {
	width: 60px;
	height: 32px;
	background: red;
	position: relative;
  &:before {
  	content: "";
  	position: absolute;
  	top: -25px;
  	left: 0;
  	width: 0;
  	height: 0;
  	border-left: 50px solid transparent;
  	border-right: 50px solid transparent;
  	border-bottom: 25px solid red;
  }
  &:after {
  	content: "";
  	position: absolute;
  	bottom: -25px;
  	left: 0;
  	width: 0;
  	height: 0;
  	border-left: 50px solid transparent;
  	border-right: 50px solid transparent;
  	border-top: 25px solid red;
  }
}