
// Layout: Global styles

.main-container {
  margin-top: 6.9rem; // gives .1rem overlap with nav
  @include breakpoint($xs) {
    margin-top: 11.9rem; // gives .1rem overlap with nav
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

// for col-xs-12 col-md-12
.primary-header {
  // font-family: 'Sanchez';
  @include header-font;
  @include clean-link;
  // phone
  display: inline-block;
  font-size: 10rem;
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 5rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 4.4rem 2rem 4.3rem 2rem;
  transition: .3s ease;
  //tablet and up
  @include breakpoint($sm) { // over phone size
    margin-top: 7rem;
    font-size: 6rem;
    margin-bottom: 4rem;
    padding-top: 3.4rem;
    padding-bottom: 3.9rem;
  }
}


.p-12-6 {
  // phone 
  font-size: 4rem;
  @include breakpoint( $sm ){ //not-phone
    font-size: 2.2rem;
  }
}

// centers ONE boostrap cols
// use for a row that has one centered col at all sizes
.col-center {
  margin-left: auto;
  margin-right: auto;
  float: none !important; // overrides BS col float: left
}
