
// NavBar ( Header )

.navbar-container {
  height: 120px;
  color: white;
  background-color: black;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  position: fixed;
  z-index: 100; // ensures it sits above all pages
  top: 0;
  left: 0;
  right: 0;
  @include breakpoint($sm) {
   height: 6rem;  
  }
}

.nav-brand-custom {
  background-image: image-url('trans-white-brand-sketch.png');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300; //places above navbar-container and .nav-mobile-links-full
  display: inline-block;
  height: 120px;
  width: 140px;
  @include breakpoint($sm){
    height: 60px;
    width: 70px;
  }
}

.nav-link-div {
  display: inline-block;
}

.nav-inline-list {
  @extend .inline-list;
  display: none;  // no display on phone
  @include breakpoint($sm){ // larger than phone 
    display: inline-block;
    font-size: 2.8rem;
    padding-top: .8rem;
    padding-left: 9rem;
    li {
      padding-left: 3rem;
      & > a {
          text-decoration: none;
      }
    }
  }
}

.nav-btn-custom {
  display: none; // no display on phone
  @include breakpoint($sm) { // larger than phone
    display: inline-block;
    background-color: transparent;
    color: gray;
    font-size: 2rem;
    padding: 1rem;
    position: fixed;
    right: 5px;
    top: 5px;
    border: 3px solid gray;
  }
}

.nav-sandwich-div {
  position: fixed;
  z-index: 300;
  top: 7px;
  right: 7px;
  padding-top: 2.2rem;
  padding-right: 1.5rem;
  .toggle-line {
    transition: .3s ease;
    display: block;
    background-color: white;
    width: 8rem;
    height: .8rem;
    margin-top: 1.5rem;
    &:first-child {
      margin-top: 0rem;
    }
    &:last-child {
      
    }
  }
  @include breakpoint($sm){
    display: none;
  }
}

// added via navbar.js to change sandwich to X
.toggle-x {
  // postition: relative;
  // z-index: 200;
  .toggle-line {
    &:first-child {
      transform: rotate( 45deg ) translate(9px, 24px );
    }
    &:nth-child( 2 ) {
      background-color: transparent;  
    }
    &:last-child {
      transform: rotate( -45deg ) translate(9px, -24px );
    }
  }
}

// only shows on xs for now sizing below is for xs
.nav-mobile-full {
  display: none;
  position: fixed;
  z-index: 200; // navbar-container below, navbar-brand, and sandwich above
  width: 100%;
  height: 100%;
  background-color: orange;
  & > ul {
    padding-left: 0;
    padding-top: 40rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 8rem;
    & > li {
      padding-top: 2rem;
      text-align: center;
      &:first-child {
        padding-top: 0;
      }
    }
  }
}


